Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
.ws
/.idea/
bin/
*/__pycache_/*
__pycache__/
env/
*.png
Taylor_Swift_Delicate.mp3
.env
chat_history.db
chatbot.db
uploaded_images/*.*
uploaded_images/